*.pyc
*.swo
*.swp
*.swm
*.swn
*.swl
*.log
/.ropeproject/
/build/
/dist/
/odoo_rpc_client.egg-info/
/docs/build/
/venv/
.ropeproject
.coverage
.coverage.*
/coverage/
.ipynb_checkpoints/
/examples/tmp
.eggs/
/venv_*/

